In [37]:
from pandas import DataFrame
import pandas as pd

In [38]:
raki = { 'Freq':  [2, 4, 6, 5, 2, 1],
         'Count': [0, 1, 2, 3, 4, 5]
        }

In [39]:
raki_df = DataFrame(raki, columns = ['Freq', 'Count'])

In [40]:
freq_sum = raki_df['Freq'].sum()

In [41]:
raki_df['Probability'] = raki_df['Freq'] / freq_sum

In [42]:
raki_df

   Freq  Count  Probability
0     2      0         0.10
1     4      1         0.20
2     6      2         0.30
3     5      3         0.25
4     2      4         0.10
5     1      5         0.05

In [43]:
raki_df['Probability'].sum()

1.0

In [44]:
shoes = { 'Freq':  [7, 3, 2, 1],
          'Count': [1, 2, 3, 4]}

In [45]:
shoes_df = DataFrame(shoes, columns = ['Freq', 'Count'])

In [46]:
freq_sum_df = shoes_df['Freq'].sum()

In [47]:
shoes_df['Probability'] = shoes_df['Freq'] / freq_sum_df

In [48]:
shoes_df

   Freq  Count  Probability
0     7      1     0.538462
1     3      2     0.230769
2     2      3     0.153846
3     1      4     0.076923

In [49]:
shoes_df['Probability'].sum()

1.0

In [50]:
shoes_df['Probability'][2:].sum()

0.23076923076923078

In [51]:
cats = [31,27,29,23,30]

In [52]:
cats_df = DataFrame(cats, columns = ['Time'])

In [53]:
M = 30

In [54]:
Sigma = 3

In [55]:
cats_df['Standard'] = (cats_df['Time'] - M) / Sigma
cats_df

   Time  Standard
0    31  0.333333
1    27 -1.000000
2    29 -0.333333
3    23 -2.333333
4    30  0.000000

In [57]:
cats_df.loc[( (cats_df['Standard']>1.95) | (cats_df['Standard']<-1.95) )]

   Time  Standard
3    23 -2.333333