In [174]:
from pandas import DataFrame
import pandas as pd

In [175]:
jirafs = { 'Pigments':  [260, 255, 270, 260, 265, 270, 260, 255, 265, 260],
           'Selection': [1,   2,   3,   4,   5,   6,   7,   8,   9,   10]
         } 

jirafs_df = DataFrame(jirafs, columns= ['Pigments', 'Selection'])
k = len(jirafs_df['Pigments'])
k

10

In [176]:
mean = jirafs_df['Pigments'].mean()
mean

262.0

In [177]:
jirafs_df['Отклонение²'] = (jirafs_df['Pigments'] - mean)**2
jirafs_df

   Pigments  Selection  Отклонение²
0       260          1          4.0
1       255          2         49.0
2       270          3         64.0
3       260          4          4.0
4       265          5          9.0
5       270          6         64.0
6       260          7          4.0
7       255          8         49.0
8       265          9          9.0
9       260         10          4.0

In [178]:
dispersion = (1 / (k - 1)) * (jirafs_df['Отклонение²'].sum())
dispersion

28.888888888888886

In [179]:
s_otkl = dispersion**0.5
s_otkl

5.374838498865699

## Стандартная ошибка среднего

In [180]:
50 / 12**0.5

14.433756729740645

In [181]:
pollution = { 'Pollution':  [46, 37, 51, 47, 42, 39, 43, 46, 45]  } 
pollution_df = DataFrame(pollution, columns = ['Pollution'])
pollution_df

   Pollution
0         46
1         37
2         51
3         47
4         42
5         39
6         43
7         46
8         45

In [182]:
pollution_mean = pollution_df['Pollution'].mean()
pollution_mean

44.0

In [183]:
s_otkl_pollution = 5
n = len(pollution_df['Pollution'])
n

9

In [184]:
s_error_pollution = s_otkl_pollution / (n**0.5)
s_error_pollution

1.6666666666666667

In [185]:
pollution_df['Otkl²'] = (pollution_df['Pollution'] - pollution_mean)**2 
pollution_df

   Pollution  Otkl²
0         46    4.0
1         37   49.0
2         51   49.0
3         47    9.0
4         42    4.0
5         39   25.0
6         43    1.0
7         46    4.0
8         45    1.0

In [186]:
s_otkl_pollution = (pollution_df['Otkl²'].sum() / (n-1))**0.5
s_otkl_pollution

4.272001872658765

In [187]:
x = 40
m = 36
sigma = 10
n = 64

In [188]:

z = (x - m) / ( sigma / n**0.5 )
z

3.2